.detailed-car-image {
    height: 200px;
}

.pointer {
    cursor: pointer;
}

.phone-block {
    height: 36px
}

.modal {
    display: block;
}

/* Animations */

/* *-enter */
/* *-enter-active */
/* *-enter-to */

/* *-leave */
/* *-leave-active */
/* *-leave-to */
.phone-enter-active,
.phone-leave-active {
    transition: all .5s;
}

.phone-enter,
.phone-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
    transition: all .5s;
}

.modal-enter,
.modal-leave-to {
    transform: translateY(-100px);
}

.fademainblock-enter-active {
    animation: .75s fademainblock forwards;
}

.fademainblock-leave-active {
    animation: .75s fademainblock reverse;
}

.fademainblock-enter,
.fademainblock-leave-to {
    opacity: 0;
}

@keyframes fademainblock {
    from {
        opacity: 0;
    }

    to {
        opacity: .5;
    }
}
.zi{
    opacity: .99;
}
.myClass {

      position: absolute;
    display: block;
    transform: scale(3, 3);
    transition: 0.2s;
    /* Время эффекта */
  
z-index:10;
}
