<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
            <link href="https://momentjs.com/downloads/moment-with-locales.min.js" rel="preload" as="script">

    <title>Document</title>
</head>

<body>
    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Credit calc</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="sum">Credit sum</label>
                    <input type="number" class="form-control" id="sum" placeholder="Credit sum" v-model="sum">
                    <label for="percent">Percent</label>
                    <input type="number" class="form-control" id="percent" placeholder="Percent" v-model="yearPercent">
                    <label for="term">Term</label>
                    <input type="number" class="form-control" id="term" placeholder="Term" v-model="term">
                    <label for="dateStart">Date start</label>
                    <input type="date" class="form-control" id="dateStart" placeholder="Date start" v-model="dateStart">
                </div>
                <div>
                <h5>Ежемесячный платеж</h5>
                <h4>{{monthlyPayment}}</h4>
</div>            
                   <div>
                <h5>Переплата по кредиту</h5>
                <h4>{{overpayment}}</h4>
</div>
            </div>

            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-12 pt-2"> 
                        <table  class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>№</th>
                                    <th>Месяц</th>
                                    <th>Сумма платежа</th>
                                    <th>Платеж по основному долгу</th>
                                    <th>Платеж по процентам</th>
                                    <th>Остаток долга</th>
                                </tr>
                                <tr v-for="(row, index) in tbData">
                                    <!-- Цикл по строкам -->
                                    <td style="text-align:center"><b>{{index + 1}}</b></td>
                                    <!-- Номер строки -->
                                    <td>{{row.month}} </td>
                                    <!-- Наименование -->
                                    <td>{{row.sum}}</td>
                                    <!-- Количество -->
                                    <td>{{row.mainPay}}</td>
                                    <!-- Цена -->
                                    <td>{{row.percentPay}}</td>

                                    <td>{{row.balance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="/vue-digital-transform.umd.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="app.js"></script>


</body>

</html>
